#tigerImage {
    width: 200px;
    height: 150px;
    transition: transform 0.5s ease;
  }

  #tigerContainer:hover #tigerImage {
    transform: translateX(100%) rotateY(180deg);
  }

  #tigerContainer {
    width: 200px;
  }